**/node_modules
**/dist
**/.turbo
**/.cache
**/.next
**/.vite
**/coverage
**/.eslintcache
**/.DS_Store
**/.git
**/.gitignore
**/.github
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.tsbuildinfo
**/Dockerfile*
**/.dockerignore
README.md
RAILWAY.md
LICENSE
